@import url('./main-layout.css');
@import url('./views/dashboard-view.css');
@import url('./views/list-view.css');
@import url('./views/card-list-view.css');
@import url('./views/image-list-view.css');
@import url('./views/checkout-form-view.css');
@import url('./views/master-detail-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

/* html[theme~='noon'] {
  --lumo-base-color: hsl(288, 75%, 54%);
  background-color: var(--lumo-base-color);
}

html[theme~='night'] {
  --lumo-base-color: hsl(69, 95%, 53%);
  background-color: var(--lumo-base-color);
} */



[theme~='day'] {
  --lumo-primary-color: hsl(288, 75%, 54%);
  --lumo-primary-color-50pct: hsla(288, 75%, 54%, 0.5);
  --lumo-primary-color-10pct: hsla(288, 75%, 54%, 0.1);
  --lumo-base-color: hsl(240, 8%, 97%);
  --lumo-shade: hsl(232, 30%, 6%);
  --lumo-shade-5pct: hsla(232, 30%, 6%, 0.05);
  --lumo-shade-10pct: hsla(232, 30%, 6%, 0.1);
  --lumo-shade-20pct: hsla(232, 30%, 6%, 0.2);
  --lumo-shade-30pct: hsla(232, 30%, 6%, 0.3);
  --lumo-shade-40pct: hsla(232, 30%, 6%, 0.4);
  --lumo-shade-50pct: hsla(232, 30%, 6%, 0.5);
  --lumo-shade-60pct: hsla(232, 30%, 6%, 0.6);
  --lumo-shade-70pct: hsla(232, 30%, 6%, 0.7);
  --lumo-shade-80pct: hsla(232, 30%, 6%, 0.8);
  --lumo-shade-90pct: hsla(232, 30%, 6%, 0.9);
  --lumo-body-text-color: rgba(69, 66, 66, 0.9);
  --lumo-primary-text-color: rgb(50, 47, 47);
  --lumo-error-text-color: hsl(3, 71%, 47%);
}

[theme~='noon'] {
  --lumo-primary-color: hsl(252, 91%, 49%);
  --lumo-primary-color-50pct: hsla(233, 75%, 54%, 0.5);
  --lumo-primary-color-10pct: hsla(183, 75%, 54%, 0.1);
  --lumo-base-color: hsl(120, 73%, 50%);
  --lumo-shade: hsl(240, 1%, 34%);
  --lumo-shade-5pct: hsla(231, 12%, 12%, 0.05);
  --lumo-shade-10pct: hsla(231, 12%, 12%, 0.1);
  --lumo-shade-20pct: hsla(231, 12%, 12%, 0.2);
  --lumo-shade-30pct: hsla(231, 12%, 12%, 0.3);
  --lumo-shade-40pct: hsla(231, 12%, 12%, 0.4);
  --lumo-shade-50pct: hsla(231, 12%, 12%, 0.5);
  --lumo-shade-60pct: hsla(231, 12%, 12%, 0.6);
  --lumo-shade-70pct: hsla(231, 12%, 12%, 0.7);
  --lumo-shade-80pct: hsla(231, 12%, 12%, 0.8);
  --lumo-shade-90pct: hsla(231, 12%, 12%, 0.9);
  --lumo-body-text-color: rgba(69, 66, 66, 0.9);
  --lumo-primary-text-color: rgb(50, 47, 47);
  --lumo-error-text-color: hsl(3, 71%, 47%);
}

[theme~='night'] {
  --lumo-primary-color: hsl(288, 75%, 54%);
  --lumo-primary-color-50pct: hsla(288, 75%, 54%, 0.5);
  --lumo-primary-color-10pct: hsla(288, 75%, 54%, 0.1);
  --lumo-base-color: hsl(239, 55%, 35%);
  --lumo-shade: hsl(232, 30%, 6%);
  --lumo-shade-5pct: hsla(232, 30%, 6%, 0.05);
  --lumo-shade-10pct: hsla(232, 30%, 6%, 0.1);
  --lumo-shade-20pct: hsla(232, 30%, 6%, 0.2);
  --lumo-shade-30pct: hsla(232, 30%, 6%, 0.3);
  --lumo-shade-40pct: hsla(232, 30%, 6%, 0.4);
  --lumo-shade-50pct: hsla(232, 30%, 6%, 0.5);
  --lumo-shade-60pct: hsla(232, 30%, 6%, 0.6);
  --lumo-shade-70pct: hsla(232, 30%, 6%, 0.7);
  --lumo-shade-80pct: hsla(232, 30%, 6%, 0.8);
  --lumo-shade-90pct: hsla(232, 30%, 6%, 0.9);
  --lumo-body-text-color: hsla(214, 0%, 92%, 0.9);
  --lumo-primary-text-color: hsl(214, 0%, 96%);
  --lumo-error-text-color: hsl(3, 71%, 47%);
}
